{% extends "base.html" %}

{% block disqus %}

<script src="https://giscus.app/client.js"
    data-repo="twhite96/SuburbanSmarts"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzNDU0NjQ1MzI="
    data-category="General"
    data-category-id="DIC_kwDOFJde1M4B-3dV"
    data-mapping="pathname"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-theme="light"
    crossorigin="anonymous"
    async>
</script> 

<noscript>Please enable JavaScript to view the comments.</noscript>
{% endblock %}

{% block analytics %}
<script async defer data-domain="docs.suburbansmarts.org" src="https://plausible.io/js/plausible.js"></script>
{% endblock %}