/* :root {
    --md-primary-fg-color: #ff0000;
    --md-primary-fg-color--light: #ECB7B6 !important;
    --md-primary-fg-color--dark: #90030C !important;
} */



figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

[data-md-color-primary=red] {
  --md-primary-fg-color: #ff0000;
  --md-primary-fg-color--light: #ECB7B6;
  --md-primary-fg-color--dark: #90030C;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0,0%,100%,.7);
}


small.caption-text {
  color: gray;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 1.66667em;
  padding-top: 1%;
  text-align: center;
}

.md-top {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.md-top:hover {
  background-color: hsla(356, 96%, 29%, 60);
  color: white;
}

.md-typeset .admonition, .md-typeset details {
  background-color: var(--md-admonition-bg-color);
  border: 0px !important;
  border-left: 0.2rem solid #ff0000 !important;
  border-radius: 0.2rem;
  box-shadow: var(--md-shadow-z1);
  color: var(--md-admonition-fg-color);
  display: flow-root;
  font-size: .64rem;
  margin: 1.5625em 0;
  padding: 0 0.6rem;
  page-break-inside: avoid;
}